---
layout: view_pager.liquid
tags: templates
group: templates
options: none
icon: newspaper
order: 0
theme: none
title: News Blog
description: A news blog template inspired by G.News
keywords:
- blog
- lifestyle
---

<!-- HOME -->
<section class="page-home">
{% include './_inc/home.liquid' %}
</section>

<!-- SEARCH -->
<section class="page-search" layout="column top-center" z-lazy="scroll" style="position:absolute;top:56px;bottom:56px;left:0;right:0;overflow-y: auto;">
    {% include './_inc/search.html' %}
</section>

<!-- NOTIFICATIONS -->
<section class="page-notifications">
    {% include './_inc/bookmarks.html' %}
</section>

<!-- ABOUT -->
<section class="page-about" layout="column top-center">
    {% include './_inc/about.html' %}
</section>

<!-- iframe for displaying posts -->
<iframe z-field="content-frame" style="position: fixed; top: 0; bottom: 0; left:0; right: 0"></iframe>
