<div class="footer-bar" z-field="footer-bar">

    <button class="active" data-page="0">
        <i class="material-icons md-48">home</i>
    </button>

    <button data-page="2">
        <i class="material-icons md-48">notifications</i>
    </button>

    <button data-page="3">
        <i class="material-icons md-48">info</i>
    </button>

</div>
