<div class="footer-bar" z-field="footer-bar">

    <button class="active" data-page="0">
        <i class="material-icons">home</i>
    </button>

    <button data-page="1">
        <i class="material-icons">search</i>
    </button>

    <button data-page="2">
        <i class="material-icons">bookmark_border</i>
    </button>

    <button data-page="3">
        <i class="material-icons">info</i>
    </button>

</div>
