<div z-field="header-bar" class="header-bar">

    <div class="header">
        <div class="profile pulse">
            <img alt="Profile Icon" src="{{ '/images/profile-icon.png' | url }}" width="44" height="44">
        </div>
        <div z-field="header-box" layout="row center-center">
            <!-- Home page header -->
            <div class="title">
                Home
            </div>
            <!-- Search page header -->
            <div class="search-box">
                <span class="input">
                <input type="text" placeholder="Enter search terms">
                <span></span>
                </span>
            </div>
            <!-- Notification page header -->
            <div class="title">
                Notifications
            </div>
            <!-- About page header -->
            <div class="title">
                About
            </div>
        </div>
    </div>
    <div z-field="header-tools">
        <div ctrl z-load="@lib/controllers/view-pager"
             z-options="options.pageIndicator"
             class="topics visible-on-ready">
{% assign sectionList = collections.news_section | sort: 'data.order' %}
{% for section in sectionList %}
            <div data-section="{{ section.data.folder }}" data-order="{{ section.data.order }}">
                {{ section.data.title }}
            </div>
{%- endfor %}
        </div>
    </div>

</div>
