/* CSS files add styling rules to your content */

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 16px;
    margin: 0; padding: 0;
    background: white;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    overscroll-behavior-y: contain;
}

a, a:visited, a:hover {
    font-weight: 700;
    color: deeppink;
    text-decoration: none;
}

button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    background-image: linear-gradient(180deg,#fff,#f5f5fa);
    transition: all .2s ease-out;
}
button:hover, button:active, button.active {
    box-shadow: inset 0 -4px 11px 7px rgb(37 44 97 / 9%), 0 4px 6px 0 rgb(93 100 148 / 7%);
}

.section-content {
    padding-top: 56px;
}

.message {
    color: darkgrey;
    min-height: 100vh;
    width: 100vw;
    font-size: 200%;
}
.message i {
    margin-left: 16px;
    color: darkgrey;
    font-size: 150%;
}


.content {
    font-family: serif;
    font-size: 110%;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.feed-pager {
    height: 100vh;
}

.list {
    margin-top: 96px;
    margin-bottom: 24px;
}






iframe[z-field=content-frame] {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    background: white;
}




/* Header bar */
{% include './header-bar.css' %}

/* Footer bar */
{% include './footer-bar.css' %}






.search-box {
    width: 100%;
    max-width: 640px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box input {
    width: 100%;
    font-size: 130%;
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    min-width: 12em;
}

.search-box .input {
    width: 100%;
    position: relative;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 1px;
    display: inline-block;
    border-radius: 9999em;
    margin: 8px;
}
.search-box .input *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 3px 8px;
    z-index: 1;
}
.search-box .input *:not(span):focus + span {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.search-box .input span {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: opacity .25s, -webkit-transform .5s;
    transition: transform .5s, opacity .25s;
    transition: transform .5s, opacity .25s, -webkit-transform .5s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 2px #fff, 0 0 0 2px #fff, 2px -2px 11px #1beabd,  -2px 2px 11px #10abff;
}

.search-box ::-webkit-input-placeholder {
    color: #cbd0d5;
}

.search-box :-ms-input-placeholder {
    color: #cbd0d5;
}

.search-box ::-ms-input-placeholder {
    color: #cbd0d5;
}

.search-box ::placeholder {
    color: #cbd0d5;
}

.page-scroll {
    position:absolute;
    top:56px;
    bottom:56px;
    left:0;
    right:0;
    overflow-y: auto;
}
