---
date: Last Modified
elasticlunr: true
---
{% include "head_open.liquid" %}
<style>
    {% include "layouts/view_pager/style.css" %}
</style>
{% include "head_close.html" %}

<!-- load the 'header_auto_hide' on the body -->
<body>

<noscript>
    Turn on JavaScript to access this site content.
</noscript>

<!-- The header with profile icon button for opening the drawer layout (side menu panel) -->
{% include './view_pager/header-bar.liquid' %}

<main z-field="pages">
{{ content }}
</main>
{% include './view_pager/items-menu.html' %}

<!-- The footer with toolbar buttons -->
{% include './view_pager/footer-bar.liquid' %}

{% include "body_end.liquid" %}

</body>

<script>
    {% include "layouts/view_pager/script.js" %}
</script>

{% include "html_close.html" %}
