---
date: Last Modified
elasticlunr: true
---
{% include "head_open.liquid" %}
<style>
    {% include "layouts/view_pager/style.css" %}
</style>
{% include "head_close.html" %}

<body>

<noscript>
Turn on JavaScript to access this site content.
</noscript>

<!-- The header bars (for each page) -->
{% include './view_pager/header-bar.liquid' %}

<main z-field="pages" layout="column stretch-stretch">
{{ content }}
</main>

<!-- the pop-up context menu -->
{% include './view_pager/items-menu.html' %}

<!-- The footer with page select buttons -->
{% include './view_pager/footer-bar.liquid' %}

{% include "body_end.liquid" %}

</body>

<script>
{% include "layouts/view_pager/script.js" %}
</script>

{% include "html_close.html" %}
