<div ctrl z-load="@lib/controllers/view-pager"
     z-options="options.viewPager"
     class="feed-pager"
     draggable="false">

    {% assign sectionList = collections.news_section | sort: 'data.order' -%}
    {%- for section in sectionList -%}
        <article ctrl z-load="@lib/controllers/header-auto-hide"
                 z-options="options.autoHidingBars"
                 class="content" layout="column top-stretch">

            <div z-load="items_list" z-options="{ section: '{{ section.url | url }}', lazyLoad: true }"
                 class="visible-on-ready" style="min-height: 100vh"></div>

        </article>
    {%- endfor -%}

</div>
