{% wrapDom 'header-bar' %}
<nav z-field="header-bar">

    <div class="header" layout="row center-justify">
        <div z-field="header-box" layout="row center-left">

          {% case header %}

            {% when "search" %}
            <!-- Search toolbar -->
            <div layout="row center-center" style="padding-left: 32px">
                <div class="search-box">
                <span class="input">
                    <input z-field="search-input" type="search" autofocus placeholder="Enter search terms">
                    <span></span>
                </span>
                </div>
            </div>

            {% else %}
             <div class="title" layout="row center-left">
                {{ title }}
             </div>

        {% endcase %}

        </div>
        <div style="margin: 12px;">
            <input class="theme-toggle" type="checkbox" aria-label="Toggle theme" checked>
        </div>
    </div>
    <div z-field="header-tools">

        {% if header == "home" %}
        <div ctrl z-load="@lib/controllers/view-pager"
             z-context="page-indicator"
             z-options="options.pageIndicator"
             class="topics visible-on-ready">
{% assign sectionList = collections.sections | sort: 'data.order' %}
{% for section in sectionList %}
            <div data-section="{{ section.data.folder }}" data-order="{{ section.data.order }}">
                {{ section.data.title }}
            </div>
{%- endfor %}
        </div>
        {% endif %}

    </div>

</nav>
{% endwrapDom %}
<style>
{% wrapCss 'header-bar' false %}
{% include './header-bar.css' %}
{% endwrapCss %}
.theme-dark [header-bar] .search-box input {
    background-color: var(--dark-color);
    color: var(--dark-color-text);
}
.theme-dark [header-bar] .search-box input::placeholder {
    opacity: 0.5;
}
</style>
