<div z-load="@lib/components/context-menu" class="visible-on-ready"
     z-field="item-options-menu" z-lazy="false">
    <div #menu>
        <button #open-btn layout="row center-left">
            <i class="material-icons">file_open</i>
            <span>Open</span>
        </button>
        <button #bookmark-add-btn layout="row center-left">
            <i class="material-icons">bookmark_add</i>
            <span>Save for later</span>
        </button>
        <button #bookmark-remove-btn layout="row center-left">
            <i class="material-icons accent">bookmark_remove</i>
            <span>Remove from saved</span>
        </button>
        <button #share-btn layout="row center-left">
            <i class="material-icons">share</i>
            <span>Share</span>
        </button>
        <button layout="row center-left" disabled>
            <i class="material-icons">not_interested</i>
            <span>Hide items from this source</span>
        </button>
        <button layout="row center-left" disabled>
            <i class="material-icons">thumb_up</i>
            <span>More like this</span>
        </button>
        <button layout="row center-left" disabled>
            <i class="material-icons">thumb_down</i>
            <span>Less like this</span>
        </button>
    </div>
</div>
