---
layout: immersive.liquid
permalink: /about/index.html
tags: templates
group: templates
options: none
icon: newspaper
order: 0
theme: none
title: About
description: A news blog template inspired by G.News
keywords:
- blog
- lifestyle
---

<section class="page-scroll" layout="column center-center">

    <div self="size-small center-center" class="animate__animated animate__fadeIn animate__faster"
         style="padding-top: 56px; padding-left: 12px;padding-right: 12px; line-height: 150%">

        <p>
            This template is based on <a href="https://github.com/zuixjs/zuix-web-starter">zuix-web-starter</a>
            and on the static <a href="https://github.com/zuixjs/zuix-html-pwa">HTML-PWA</a> template.
        </p>

        <a href="https://github.com/zuixjs/news-blog" layout="row center-center" style="gap: 8px">
            <img src="../images/github-mark.png" width="33" height="33" style="padding:1px; border-radius: 32px; background: white">
            <div>source code</div>
        </a>

        <h2>Other resources</h2>
        <ul>
            <li>
                <a href="https://zuixjs.github.io/zkit">zKit</a><br>
                Collection of components for modern web.
            </li>
            <li>
                <a href="https://zuixjs.org">zuix.js</a><br>
                zuix.js presentation and documentation site.
            </li>
            <li>
                <a href="https://11ty.dev">11ty.dev</a><br>
                Static site generator that powers <em>zuix-web-starter</em>.
            </li>
        </ul>

    </div>

</section>
