---
layout: view_pager.liquid
tags: templates
group: templates
options: none
icon: newspaper
order: 0
theme: none
title: News Blog
description: A news blog template inspired by G.News
keywords:
- blog
- lifestyle
---

<!-- HOME -->
<section ctrl z-load="pages/home" z-context="home">
{% include 'home/home.liquid' %}
</section>

<!-- SEARCH -->
<section class="page-scroll" layout="column top-center"
         ctrl z-load="pages/search" z-lazy="scroll">
    {% include 'home/search.html' %}
</section>

<!-- NOTIFICATIONS -->
<section class="page-scroll" z-context="bookmarks"
         ctrl z-load="pages/bookmarks" z-lazy="scroll">
    {% include 'home/bookmarks.html' %}
</section>

<!-- ABOUT -->
<section layout="column top-center">
    {% include 'home/about.html' %}
</section>

<!-- iframe for displaying posts -->
<iframe z-field="content-frame" style="position: fixed; top: 0; bottom: 0; left:0; right: 0"></iframe>

<div z-load="@lib/components/context-menu" class="visible-on-ready"
     z-context="item-options-menu" z-lazy="false">
    <div z-field="menu">
        <button #bookmark-add-btn layout="row center-left">
            <i class="material-icons">bookmark_border</i>
            <span>Save for later</span>
        </button>
        <button #bookmark-remove-btn layout="row center-left">
            <i class="material-icons" style="color: blue;">bookmark_remove</i>
            <span>Remove from saved</span>
        </button>
        <button #open-btn layout="row center-left">
            <i class="material-icons">file_open</i>
            <span>Open</span>
        </button>
        <!--
        <button layout="row center-left" disabled>
            <i class="material-icons">not_interested</i>
            <span>Hide items from this source</span>
        </button>
        <button layout="row center-left" disabled>
            <i class="material-icons">thumb_up</i>
            <span>More like this</span>
        </button>
        <button layout="row center-left" disabled>
            <i class="material-icons">thumb_down</i>
            <span>Less like this</span>
        </button>
        -->
        <button #share-btn layout="row center-left">
            <i class="material-icons">share</i>
            <span>Share</span>
        </button>
    </div>
</div>
