---
layout: view_pager.liquid
tags: templates
group: templates
options: none
icon: newspaper
order: 0
theme: none
title: News Blog
description: A news blog template inspired by G.News
keywords:
- blog
- lifestyle
---

<!-- HOME -->
<section ctrl z-load="pages/home" z-context="home">
{% include 'home/home.liquid' %}
</section>

<!-- SEARCH -->
<section class="page-scroll" layout="column top-center"
         ctrl z-load="pages/search" z-lazy="scroll">
    {% include 'home/search.html' %}
</section>

<!-- BOOKMARKS -->
<section class="page-scroll" z-context="bookmarks" layout="column top-center"
         ctrl z-load="pages/bookmarks" z-lazy="scroll">
    {% include 'home/saved.html' %}
</section>

<!-- ABOUT -->
<section layout="column center-center">
    {% include 'home/about.html' %}
</section>

<!-- iframe for displaying pages -->
<iframe z-field="content-frame" style="position: fixed; top: 0; bottom: 0; left:0; right: 0"></iframe>
